{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<body>

    <h1>Music Lovers Club at Cornell</h1>

    <div class = "index_blocks">
        <div id="mission">
            <h3>Our mission:</h3>
            <p>The purpose of the Music Lovers Club at Cornell is to foster a vibrant community 
                through the shared love of music, offering events and activities that explore diverse 
                genres and deepen musical knowledge. Our mission is to create an inclusive environment 
                wherein members can discover new music, celebrate their favorites, and engage with the 
                broader musical community.
            </p>
        </div>

        <div id="mission">
            <h3>Our goals:</h3>
            <p>The goals of this organization are to build a diverse, inclusive, and engaging community 
                through music, to encourage friendly discourse on individual opinions on different 
                genres of music, and to create a space wherein members can learn more about different 
                music and cultures.
            </p>
        </div>
    </div>
    
    



</body>

{% endblock %}