{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<body>

    <h1>Our Executive Board of 2025</h1>

    <div class="officers">
        <div class="person">
            <img src="404image" onerror="this.src='images/not_found.png';" />
            <h3>Lexi Lee</h3>
            <p>President</p>
        </div>

        <div class="person">
            <img src="404image" onerror="this.src='images/not_found.png';" />
            <h3>Kenan Yavuz</h3>
            <p>Vice President</p>
        </div>

        <div class="person">
            <img src="404image" onerror="this.src='images/not_found.png';" />
            <h3>Lydia Olivieri</h3>
            <p>Treasurer</p>
        </div>

        <div class="person">
            <img src="404image" onerror="this.src='images/not_found.png';" />
            <h3>Clarissa McGhee</h3>
            <p>DEI Chair</p>
        </div>

        <div class="person">
            <img src="404image" onerror="this.src='images/not_found.png';" />
            <h3>Gabriela Gomez Estevez</h3>
            <p>Advisor</p>
        </div>
    </div>

    

   

</body>

{% endblock %}