{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<body>

    <h1>Our Playlists of 2025</h1>

    <h2 style="text-align: center;">Theme Playlists</h2>
    <h3 style="text-align: center;">Fall Semester:</h3>

    <div class="playlist-list">
        <img id="temp-image" src="static/coming-soon.png" alt="Coming soon!">    
    </div>


    <h3 style="text-align: center;">Spring Semester:</h3>

    <div class="playlist-list">
        <img id="temp-image" src="static/coming-soon.png" alt="Coming soon!">    
    </div>

    <h2 style="text-align: center;">Game Playlists</h2>
    
    <div class="playlist-list">
        <img id="temp-image" src="static/coming-soon.png" alt="Coming soon!">    
    </div>



    <h2 style="text-align: center;">Best of the Semester</h2>
    
    <div class="playlist-list">
        <img id="temp-image" src="static/coming-soon.png" alt="Coming soon!">    
    </div>

    <div>
        <h3>
            Check out our previous years' playlists: 
            <a href="/playlists-2024">2024</a>
        </h3>
    </div>

   

</body>

{% endblock %}